<form [formGroup]="profile">
    <mat-card>
        <mat-card-header>

            <!-- <div style="margin: 0 auto;" class="label button"> -->
                <img matTooltip="Click to Change Image" [src]="profile.value.photoURL" (click)="changeProfileImage.click()">
                <input hidden type="file" #changeProfileImage  (change)="updateProfileImage($event)" >
            <!-- </div> -->

        </mat-card-header>
        <mat-card-content>

            <mat-form-field>
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="User Name" formControlName="displayName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="User Email" formControlName="email">
            </mat-form-field>

            <div class="mat-dialog-actions">
                <button (click)="onSaveUser(profile.value)" mat-raised-button color="primary"
                    class="submitBtn">Save</button>
            </div>
        </mat-card-content>
    </mat-card>
</form>